/* body {
  margin: 0;
  padding: 0;
} */
:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-margin: 8px;
  --size-button: 60px;
  --size-border: 10px;
  --size-thumnail: 50px;
  --font-size: 18px;

  /* animation */
  --animation-duration: 300ms;
}

/* * {
  box-sizing: border-box;
}
 */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease;
}
.logo:hover {
  transform: scale(1.2);
}
.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.btn {
  background-color: transparent;
  transition: transform var(--animation-duration) ease-in-out;
  border: none;
  margin-right: var(--base-margin);
}

.btn:hover {
  transform: scale(1.1);
}
.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-margin) * 2); /* 두배로키우기 */
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}
.yellow {
  background-color: var(--color-yellow);
}
.pink {
  background-color: var(--color-pink);
}

.items {
  /*  background-color: salmon; */
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0; /*  리스트는 기본적으로 left padding이 들어감 */
  overflow-y: scroll; /* 축에 스크롤 주는법 */
}

.item {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--base-margin);
}

.item__thumbnail {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
}
.item__description {
  margin-left: var(--base-margin);
}
